/openAI.env
/DjangoProjectBase2/*
/TutorialGoogle/*
/movie_pictures/*
/open_ai_api_keys.env
/.env
/*.env
/images.zip
/DjangoProjectBase/openAI.env

# Database
*.sqlite3

# Python cache
__pycache__/
**/__pycache__/

# Media files
DjangoProjectBase/media/